@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
  background-color: #c8c8c8;
  font-family: Raleway; 
}

.barraSuperior {
  background-image: linear-gradient(135deg, rgb(46, 46, 46),rgb(128, 126, 126));
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.barraSuperiorLogo {
  font-weight: bolder;
  font-family: Raleway, sans-serif;
  color:white;
  padding: 20px;
}

.cadastro {
  margin-top: 2%;
  display: flex;
  width: 90%;
  max-width: 90%;
  height: auto;
  flex-wrap: wrap;
  margin: 5% auto;
}

.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title h2 {
  font-weight: bold;
}

/*Tabelas*/
.providers {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 50%;
}

/*conteudo das tabelas*/
.table {
  width: 96%;
  height: auto;
  margin: 2%;
  background-color: white;
  word-wrap: break-word !important;/*permite que o texto das colunas quebre*/
  justify-content: center;
}

 .table th{
   width: 15%;
 }

 .table tr td{
  vertical-align: middle;
  max-width: 50px !important;
}

.table input, textarea{
    cursor: text;/*cursor muda para texto quando passa por área editável*/
    border: none;
    background-color: transparent !important;
    outline: none; /*tira a borda preta ao escrever no campo*/
    width: 100%;
}

/*mudança da cor das tabelas bootstrap*/
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color:  rgba(180, 228, 228, 0.3); 
 }

 /*setas para mudança de página*/
 .arrows {
  width: 100%;
  display: flex;
  margin: 1%;
  justify-content: flex-end;
}

.arrows i {
  padding: 10px;
}

.arrows a {
  cursor: pointer;
}

/*botoes*/
/*botão adicinar novo*/
.btn {
  border-radius: 30px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  margin-left: 2%;
  width: 10%;
  min-width: 150px;
}

.btn:hover {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.titleButton {
  display: flex;
  margin: 1%;
  justify-content: flex-end;
}

.titleButton button {
  background-color: white;
  color: teal;
  font-weight: bold;
}

.titleButton button:hover {
  background-color: rgb(43, 170, 170);
  color: white;
}

/*botoes de confirmar e cancelar*/
.buttonBoxes {
  display: flex;
  display: none;
  width: 100%;
  max-width: 1280px;
  height: 10%;
  max-height: 40px;
  margin-top: 2%;
  flex-direction: row-reverse;
  color: black;
  border: none;
}

.btn.confirm {
  background-color: #B0FFB8;
}

.btn.confirm:hover {
  background-color: #77c47f;
}

.btn.cancel{
  background-color: #FFB0B0;
}

.btn.cancel:hover {
  background-color: #da8d8d;
}

.btn-delete {
  border-radius: 50%;
  margin-left: 20%; 
  min-height: 40px;
  min-width: 40px;
  background-color: #ff416a;
  border: none;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-delete:hover {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

/*estilização do placeholder*/
::-webkit-input-placeholder {color: rgb(170, 170, 170);}
input:-moz-placeholder { color:rgb(170, 170, 170); }
textarea:-moz-placeholder { color:rgb(170, 170, 170); }

/*estilização dos ids*/
#pageOverlay {
  display: none;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  animation: goDown 1s;
  z-index: 10; /*trás o objeto para a frente na tela - 10 posições a frente*/
  background-color: rgba(0, 0, 0, 0.25);
}

@keyframes goDown{
  0% {
    top: -100%
  }
  60%{
    top: 10%;
  }
  80%{
    top: -5%;
  }
  100%{
    top: 0;
  }
}

#details-btn{
  background-color: #B5E4E4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#details-btn:hover {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#edit-btn {
  background-color: #b5d1e4;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#edit-btn:hover {
  box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#numberPage {
  font-weight: bold;
  padding: 5px;
}


/*Responsividade*/
